@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Autor: @ViewData["Autor"]</p>

<address>
    <strong>Adicione nas Redes Sociais:</strong>
        <br />
        <a href="https://www.linkedin.com/in/hygormartins/">Linkedin</a>
        <br />
        <a href="https://github.com/HygorM10/">GitHub</a>
        <br />
        <a href="https://www.facebook.com/HygorMartins/">Facebook</a>
</address>
